<p id="notice"><%= notice %></p>
<%= if current_user: false render 'thank_you' %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h1><%= @visitor.full_name %></h1>
        </div>
        <div class="card-body">
          <strong>Project:</strong>
          <%= @visitor.project %>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
