<!-- main header -->
<header class="main-header style-two">
    <!-- header top -->
    <div class="header-top dark">
        <div class="container-fluid">
            <div class="outer-box">
                <!--Top Left-->
                <div class="top-left">
                    <ul class="links-nav clearfix">
                        <li><i class="fa fa-phone text-white"></i>Call Us Now <strong>888-555-1234</strong></li>
                        <li><i class="fa fa-envelope-open text-white"></i>Send Us Email <strong>support@youthactionsupport.org</strong></li>
                    </ul>
                </div>

                <!--Top Right-->
                <div class="top-right">
                    <%= render "auth/buttons" %>
                    <!-- <div class="link-btn"><a href="#" class="theme-btn login-btn"><span class="fa fa-sign-in-alt"></span>Donor Login</a></div> -->
                    <div class="social-links clearfix">
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-facebook"></span></a>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!--Header-Upper-->
    <div class="header-upper style-two">
        <div class="container-fluid clearfix">

            <div class="float-left logo-outer">
              <h1 class="text-white"><strong>Youth Action Support</strong></h1>
            </div>

            <div class="float-right upper-right clearfix">

                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li class="dropdown"><a href="#">Causes</a>
                                    <ul>
                                        <li><a href="causes-1.html">Causes One</a></li>
                                        <li><a href="causes-2.html">Causes Two</a></li>
                                        <li><a href="causes-3.html">Causes Three</a></li>
                                        <li><a href="cause-details.html">Causes Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                  <%= link_to blog_index_path do %>
                                  <i class="fa fa-message">Blog</i>
                                  <% end %>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>

                    <!-- Main Menu End-->

                    <!-- Search box -->
                    <div class="outer-box">
                        <div class="link-btn">
                          <%= link_to "Donate Now", new_charge_path, class:"theme-btn btn-style-two donate-box-btn" %>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--End Header Upper-->

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container">
            <div class="clearfix">
                <!--Logo-->
                <div class="logo float-left">
                    <a href="index.html" class="img-responsive"> <%= image_tag "logo.png" %></a>
                </div>

                <!--Right Col-->
                <div class="right-col float-right">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li class="dropdown"><a href="#">Causes</a>
                                    <ul>
                                        <li><a href="causes-1.html">Causes One</a></li>
                                        <li><a href="causes-2.html">Causes Two</a></li>
                                        <li><a href="causes-3.html">Causes Three</a></li>
                                        <li><a href="cause-details.html">Causes Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-1.html">Blog Grid</a></li>
                                        <li><a href="blog-2.html">Blog Clasic</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>


        </div>
    </div>
    <!--End Sticky Header-->
</header>
