<!-- Disaster response -->
<section class="disaster-response sp-two" style="background-image: <%= image_tag "background/3" %> ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image mb-30">
                  <%= image_tag "resource/feature-4" %>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-5">
                <div class="text-block-one">
                    <h4>Fundrising for Goodness</h4>
                    <h1>Quick Disaster Response</h1>
                    <div class="text">Sed do eiusmod tempor incididunt ut laboret dolore magna aliqua enim nost dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla aliquip consequat duis aute irure dolor in reprehenderit. </div>
                    <div class="link-btn"><a href="#" class="theme-btn btn-style-twelve">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
