<!-- Clients section -->
    <section class="client-section sp-one">
        <div class="container">
            <div class="four-item-carousel owl-carousel owl-theme owl-nav-none owl-dot-none">
                <div class="image"> <%= image_tag "clients/1" %> </div>
                <div class="image"> <%= image_tag "clients/2" %> </div>
                <div class="image"> <%= image_tag "clients/3" %> </div>
                <div class="image"> <%= image_tag "clients/4" %> </div>
            </div>
        </div>
    </section>
