<!-- Volunteer section -->
<section class="volunteer-section">
    <div class="container">
        <div class="outer-box">
            <!--Sec Title-->
            <div class="sec-title centered">
                <div class="icon-box"> <%= image_tag "icons/sec-title" %> </div>
                <h1>Get  <span>Involved</span></h1>
                <div class="text">Children are at high risk of severe malnutrition & no education</div>
            </div>
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="text-block-two">
                        <h3>Our Fundraising Program</h3>
                        <h4>Join us to save the World Humanitarian</h4>
                        <div class="text">Eorem ipsum dolor sit amet, consectetur adipisicing elit, sed telen eiusmod tempor incididunt ut laboret dolore magna aliquat enim ad minim veniam quis nostrud exercitation.</div>
                        <div class="link-btn"><a href="#" class="theme-btn btn-style-two">Read More</a></div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="image"> <%= image_tag "resource/volunteer" %> </div>
                </div>
            </div>
        </div>
    </div>
</section>
