
    <!-- Service section -->
    <section class="service-section sp-two">
        <div class="container">
            <!--Sec Title-->
            <div class="sec-title centered">
                <div class="icon-box"> <%= image_tag "icons/sec-title" %> </div>
                <h1>How We  <span>Support</span></h1>
                <div class="text">Children at high risk of severe malnutrition </div>
            </div>
            <div class="row clearfix">
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <div class="image">
                            <%= image_tag "resource/service-1" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="lower-box text-center">
                            <h3><a href="blog-details.html">Individuals</a></h3>
                            <div class="text">Auis nostrud exercitation ullamc laboris nisitm aliquip ex bea sed consequat duis autes ure dolor. dolore magna aliqua nim ad minim.  </div>
                            <div class="read-more-btn">
                                <a href="blog-details.html" class="read-more">Read More </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <div class="image">
                            <%= image_tag "resource/service-2" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="lower-box text-center">
                            <h3><a href="blog-details.html">Non-Profit</a></h3>
                            <div class="text">Auis nostrud exercitation ullamc laboris nisitm aliquip ex bea sed consequat duis autes ure dolor. dolore magna aliqua nim ad minim.  </div>
                            <div class="read-more-btn">
                                <a href="blog-details.html" class="read-more">Read More </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <div class="image">
                            <%= image_tag "resource/service-3" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="lower-box text-center">
                            <h3><a href="blog-details.html">Corporate</a></h3>
                            <div class="text">Auis nostrud exercitation ullamc laboris nisitm aliquip ex bea sed consequat duis autes ure dolor. dolore magna aliqua nim ad minim.  </div>
                            <div class="read-more-btn">
                                <a href="blog-details.html" class="read-more">Read More </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

            </div>
        </div>
    </section>
