<!-- Main slider -->
    <section class="main-slider">
        <div class="container-fluid">
            <ul class="main-slider-carousel slide-nav">
                <li class="slider-wrapper">
                    <div class="image"> <%= image_tag "team-lg" %></div>
                    <div class="slider-caption light">
                        <div class="container">
                            <h3>change a life, change the world <span class="border-shape"></span></h3>
                            <h1>Donate & support young adults <br>Together we can</h1>
                            <div class="text light">We amplify the voices of young adults around the world.</div>
                            <div class="link-btn"><a href="#" class="theme-btn btn-style-six">Learn More</a></div>
                        </div>
                    </div>
                    <div class="slide-overlay"></div>
                </li>
            </ul>
        </div>
    </section>
