<!-- Feature section -->
    <section class="feature-section">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"> <%= image_tag "resource/feature-1" %> </div>
                        <div class="overlay-content">
                            <h5>Food & Water</h5>
                            <h4>Benefitting over 800,000 children every year through welfare projects </h4>
                        </div>
                    </div>
                </div>
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"> <%= image_tag "resource/feature-2" %> </div>
                        <div class="overlay-content">
                            <h5>Get Quick Donations</h5>
                            <h4>Deploy best possible methodology and technology for achieving ideal</h4>
                        </div>
                    </div>
                </div>
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"> <%= image_tag "resource/feature-3" %> </div>
                        <div class="overlay-content">
                            <h5>Real Approach</h5>
                            <h4>We help donors make safe and easy donations to local organizations</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
