<!-- Donate form -->
    <section class="donate-form">
        <div class="container">
            <div class="outer-box">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <h1><span>Donate</span> Now</h1>
                            <h4>We provide support to many organizations</h4>
                            <div class="text">Adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna ceniam quis nostrud exercitation ullamco laboris.</div>

                            <!--Progress Levels-->
                            <div class="progress-levels">

                                <div class="donation clearfix">
                                    <div class="text">Donations Target</div>
                                    <div class="price">$415,000</div>
                                </div>
                                <!--Skill Box-->
                                <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-innner"><div class="bar-fill gray-bg" data-percent="100"></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="donation clearfix">
                                    <div class="text">Donations Received</div>
                                    <div class="price">$328,600</div>
                                </div>
                                <!--Skill Box-->
                                <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-innner"><div class="bar-fill" data-percent="80"></div></div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="default-form-area">
                        <form id="contact-form" name="contact_form" class="contact-form style-four" action="inc/sendmail.php" method="post">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="form-group">
                                        <input type="text" name="form_name" class="form-control" value="" placeholder="Your Name" required="">
                                    </div>
                                </div>
                                <div class="col-md-12 column">
                                    <div class="form-group">
                                        <select name="form_select">
                                            <option value="" selected>Solar panel installation </option>
                                            <option value="">Tree planting drive </option>
                                            <option value="">Legislation to ban plastic waste </option>
                                            <option value="">New idea for change </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 column">
                                    <div class="form-group">
                                        <select name="form_select">
                                            <option value="" selected>Donation Amount $</option>
                                            <option value="">$50.00</option>
                                            <option value="">$100.00</option>
                                            <option value="">$150.00</option>
                                            <option value="">$300.00</option>
                                            <option value="">$500.00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-section-btn text-center">
                                <div class="form-group style-two">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button class="theme-btn btn-style-one w-100" type="submit" data-loading-text="Please wait...">Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
