<!-- Welcome Section -->
    <section class="welcome-section">
        <div class="container">
            <div class="row">
                <!-- services block -->
                <div class="services-block-two col-lg-4 col-md-6">
                    <div class="inner-box hvr-float-shadow">
                        <div class="icon"><span class="fa fa-sun"></span></div>
                        <h4><a href="#">Get The Inspiration</a></h4>
                        <div class="text">Auis nostrud exercitation ulla laboris nisit aliquip ex bea sed consequat duis autes dolor. dolore magna aliqua nim ad minim. </div>
                    </div>
                </div>
                <!-- services block -->
                <div class="services-block-two col-lg-4 col-md-6">
                    <div class="inner-box hvr-float-shadow">
                        <div class="icon"><span class="fa fa-heart"></span></div>
                        <h4><a href="#">Give Us Donation</a></h4>
                        <div class="text">Auis nostrud exercitation ulla laboris nisit aliquip ex bea sed consequat duis autes dolor. dolore magna aliqua nim ad minim. </div>
                    </div>
                </div>
                <!-- services block -->
                <div class="services-block-two col-lg-4 col-md-6">
                    <div class="inner-box hvr-float-shadow">
                        <div class="icon"><span class="fa fa-users"></span></div>
                        <h4><a href="#">Become a Volunteer</a></h4>
                        <div class="text">Auis nostrud exercitation ulla laboris nisit aliquip ex bea sed consequat duis autes dolor. dolore magna aliqua nim ad minim. </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </section>
